{
  "parser": "@typescript-eslint/parser",
  "plugins": ["fp", "@typescript-eslint", "cypress"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/import/first": "off"
  },
  "env": {
    "cypress/globals": true
  }
}
